@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media screen and (max-width: 1150px) {
  .react-calendar {
    width: 98%;
  }
  .react-calendar__navigation {
    height: 3rem;
  }
  .react-calendar__navigation__arrow {
    width: 2.5rem;
    font-size: 2rem;
  }
  .react-calendar__month-view__weekdays__weekday {
    font-size:1rem;
  }
  .react-calendar__tile {
    padding: 0.5rem 0.12rem;
    min-height: 7rem;
  }
  .react-calendar__navigation__label__labelText {
    font-size: 2rem;
  }
}
  
@media screen and (min-width: 1150px) {
  .react-calendar {
    width: 85%;
  }
  .react-calendar__navigation {
    height: 5rem;
  }
  .react-calendar__navigation__arrow {
    width: 5rem;
    font-size: 4rem;
  }
  .react-calendar__month-view__weekdays__weekday {
    font-size:2rem;
  }
  .react-calendar__tile {
    padding: 10px 6.6667px;
    min-height: 9rem;
  }
  .react-calendar__navigation__label__labelText {
    font-size: 4rem;
  }
}

.react-calendar {
  margin: auto;
  /* width: 600px; */
  max-width: 100%;
  /* width: 90%; */
  /* background: white; */
  /* background-image: url('/images/backgrounds/ales-krivec-x4Jc4HKEHKg-unsplash.jpg'); */
  /* background-size: cover; */
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  color: white;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar abbr {
  text-decoration: none;
  color: black;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
/* .react-calendar__navigation__arrow {
  width:25px;
  font-size: 2rem;
} */

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  /* height: 3rem; */
  /* height: 44px; */
  /* margin-bottom: 1em; */
}


.react-calendar__navigation__label__labelText {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.react-calendar__navigation button {
  /* min-width: 44px; */
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: transparent;
}

/* .react-calendar__navigation button:enabled:hover, */
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e666;
  /* border: 1px solid black; */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  color: black
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* 
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
} */

/* .react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 1em;
} */

.react-calendar__tile {
  max-width: 100%;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  /* color: #ababab; */
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
} */

.react-calendar__tile--now {
  /* background: rgba(255,255,255,0.8); */
  /* border-radius: 50px; */
  font-weight: 800;
} 

/* .react-calendar__tile--now:enabled:hover, */
.react-calendar__tile--now:enabled:focus {
  background: #ffffff33;
  /* border: 1px solid black; */
}

.react-calendar__tile--hasActive {
  background: #e6e6e633;
}

/* .react-calendar__tile--hasActive:enabled:hover, */
.react-calendar__tile--hasActive:enabled:focus {
  background: #e6e6e666;
}

/* .react-calendar__tile--active {
  background: rgb(1,1,1);
  color: white;
} */
/* 
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
  background: rgba(1,0,0,1);
} */

/* .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */

.react-calendar__tile__tileContent {
  height:100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  padding: 0 0.2rem;
}